<h1>Home</h1>
<nav>
    <a href="/song/allsong">song</a>
    <a href="/playlist">playlist</a>
    <% if (user == "Not logged in") { %>
        <a href="/login">Log in</a>
   <% }else{ %>
    <a href="/profile?<%= user.username %>">Profile</a>
    <% } %>
</nav>