<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>
<!-- login.ejs -->
<form action="/user/login" method="post">
    username: <input type="text" placeholder="Username" name="username" required>
    <br><br>
    password: <input type="password" placeholder="Password" name="pwd" required>
    <button type="submit">Login</button>
</form>
<a href="/user/register">Sign up now!</a>
</body>
</html>