<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews for <%= song.song_id, song.songname %></title>
</head>
<body>
    <a href="..song/allSong">Back to Songs</a>
    <h1>Reviews for <%= song.songname</h1>
    if (reviews.length > 0) {
        review.forEach(review => {
            
        })
    } -->