<!DOCTYPE html>
<html>
<head>
    <title>Remove Song</title>
</head>
<body>

<h1>Remove Song from Playlist</h1>

<h2><%= playlist.PlayListName %></h2>

<% if (playlist.songs.length === 0) { %>
    <p>No songs in this playlist.</p>
<% } else { %>
    <ul>
        <% playlist.songs.forEach(function(song) { %>
            <li>
                Song ID: <%= song.song_id %>
                <a href="/playlist/remove/<%= playlist.playList_id %>/<%= song.song_id %>">
                    Remove
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>

<br>
<a href="/playlist">Back</a>

</body>
</html>